name: CI/CD to Docker Hub and EC2

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/edu-backend:latest ./backend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/edu-backend:latest

      - name: Build and push frontend image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/edu-frontend:latest ./frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/edu-frontend:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Copy docker-compose.yml to EC2
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "./docker-compose.yml"
          target: "/home/${{ secrets.EC2_USERNAME }}/edu/docker-compose.yml"

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Ensure deployment folder exists
            mkdir -p /home/${{ secrets.EC2_USERNAME }}/edu
            cd /home/${{ secrets.EC2_USERNAME }}/edu

            # Stop running containers and clean old images
            sudo docker compose down
            sudo docker image prune -af

            # Pull latest images from Docker Hub
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/edu-backend:latest
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/edu-frontend:latest

            # Start containers using docker-compose
            sudo docker compose up -d
